@import 'antdCustom';


.bg-aj-boy {
    background-image: url("../../public/image/aj-boy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.30;
}